.container {
    display: flex;
    position: relative;
}

.left , .right{
    flex: 1;
    padding: 0 20px;
    position: relative;
}

.container {
    border-left: 1px solid black;
    padding-left: 10px;
}

.light {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.button {
    align-items: center;
    padding: 0% 26%;

}

.line {
    border-left: 2px solid black;
    height: 270px;
    display: inline-block;
    padding: 0% 10%;
}

